<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>Barbearia System</title>
  </head>
  <body>
    <h1>Agendar Horário</h1>
    <label for="dataInput">Escolha a Data:</label>
    <input type="date" id="dataInput" required />
    <label for="horarioInput">Escolha o Horário:</label>
    <input type="time" id="horarioInput" required />
    <button onclick="fazerAgendamento()">Confirmar</button>

    <div id="container-agendamentos">
      <ul id="listaAgendamentos"></ul>
    </div>

    <p id="feedback" class=""></p>

    <div id="modalEdicao" class="modal">
      <div class="modal-content">
        <span class="close" onclick="fecharModal()">&times;</span>
        <h2>Editar Agendamento</h2>

        <input type="hidden" id="edit-id" />

        <label>Nova Data:</label>
        <input type="date" id="edit-data" required /><br /><br />

        <label>Novo Horário:</label>
        <input type="time" id="edit-horario" required /><br /><br />

        <button onclick="confirmarEdicao()">Salvar Alterações</button>
      </div>
    </div>
    <script src="../static/js/index.js"></script>
  </body>
</html>
